@font-face {
    font-family: 'Roboto Regular';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Regular.woff') format('woff'),
    url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body { font-family : Roboto Regular; }

@media screen and ( max-width : 1187px ) {

}


@media screen and ( max-width : 992px ) {

}


@media screen and ( max-width : 768px ) {

}


@media screen and ( max-width : 640px ) {

}


@media screen and ( max-width : 480px ) {

}

@media screen and ( max-width : 360px ) {
    .page-thank-you .header-text-box a.mhf { font-size : 18px; }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}



